<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vibescom.kutanga">

    <application
        android:name=".ApplicationManager"
        android:allowBackup="true"
        android:appComponentFactory="whateverString"
        android:fullBackupContent="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/appiconn"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/appiconn"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Dashboard"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning"
        tools:replace="android:appComponentFactory"
        tools:targetApi="28">
        <activity android:name=".Activities.Restorants.Activity.chooseAddressActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="InnerclassSeparator"></activity>
        <activity
            android:name=".Activities.Restorants.Activity.ReviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activities.Restorants.Activity.ApplyCoupanActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activities.Restorants.Activity.FilterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activities.Restorants.Activity.NotificationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activities.Restorants.Activity.FavroutesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activities.Restorants.Activity.ManageaddressActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activities.Restorants.Activity.PastOrderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activities.Restorants.Activity.PaymentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activities.SignUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activities.Restorants.Activity.SeeAllRestauransActivity"
            tools:ignore="InnerclassSeparator"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <activity
            android:name=".Activities.LocationActivity"
            android:label="@string/title_activity_location"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden"
            />
        <activity
            android:name=".Activities.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.MainScreen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activities.SignInActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activities.IntroScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activities.Restorants.Activity.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activities.Restorants.Activity.TakeYourPicDetailsActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activities.Restorants.Activity.InTheSportLightDetailsActivity"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="false"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activities.Restorants.Activity.FearuedBrandDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activities.Restorants.Activity.TopPicForYouDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activities.LocationSearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activities.SetDeliveryLocationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="InnerclassSeparator" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" /> <!-- *********************Facebook meta data**************** -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <!--
<activity android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme"
                    tools:ignore="ManifestResource" />
            </intent-filter>
        </activity>
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver
            android:name=".Broadcast.ReachabilityManager"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <service
            android:name=".Services.GPSTracker"
            android:exported="false" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.WRITE_SECURE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>